.tm-table { 
    width:100%;  
    text-align: center;  
}
.tm-table tr{
    
    vertical-align: middle;
    font-weight: 600;    
}


.tm-table td>div {
    overflow:auto;
    height:5rem;
      
}
.drag-and-drop-box{
    height:5rem !important;
    max-width:50rem;
    width: 50rem;
}