.tm-table { 
    width:100%;  
    text-align: center;  
}
.tm-table tr{
    max-height:4rem; 
    height: 4rem;
    
    
}


.tm-table td>div {
    overflow:auto;
    
      
}
.drag-and-drop-box{
    height:5rem !important;
    max-width:50rem;
    width: 50rem;
}