.tm-table {
    table-layout: fixed;
    width:100%;
    white-space: nowrap;
}
.tm-no-col{
    width:10%
}
.tm-col{
    width:20%
}
.tm-details-col{
    width:40%
}
.tm-class-col{
    width:20%
}
.tm-pdf-col{
    width:20%
}
.tm-table td {
    text-overflow: hidden;
    
}