.tm-table { 
    width:100%;  
    text-align: center;  
}
.tm-table tr{
    
    
    
}


.tm-table td>div {
    overflow:auto;
    
      
}
.drag-and-drop-box{
    height:5rem !important;
    max-width:50rem;
    width: 50rem;
}
.tm-details-col{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}