
.drag-and-drop-box{
    height:5rem !important;
    max-width:50rem;
    width: 50rem;
}


.srch-res-details{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    align-items: center;
    
    
}
.res-tm {
    font-size:18px
}
.tm-details{
    font-size:14px;
}

